@import "~bootstrap/scss/bootstrap";

html,
body,
#root {
  height: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  color: black;
  background-color: rgb(236, 234, 234);
}
.offcanvas-header,
.offcanvas-body {
  color: white;
  background-color: rgb(33, 37, 41);
}
.offcanvas-header {
  border-bottom: 1px solid white;
}
